body#portfolio {
  padding:0;
  margin:0;
  main > ol {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    padding:0;
    margin:0;
    & > li {
      display:block;
      margin:0;
      width:100%;
      border-top:0;
      border-bottom:0;

      a {
        color:#999;
        text-decoration: underline;
      }
      &:nth-child(even):not(.half) {
        background-color:#222;
      }
      &#week1,
      &#week2,
      &#week3-1,
      &#week4,
      &#week8,
      &#week9,
      &#week10,
      &#week11,
      &.half {
        background:#333;
        display:inline-block;
        width:43%;
        border-right:1px solid #000;
        margin-top:2em;
        margin-bottom:2em;
        border-radius:30px;
        & + .half {
          border-right-width:0;
        }

        .vega-canvas {
          border:1px solid #aaa;
          background:#282828;
        }
        figure {
          padding-left:0.5em;
          padding-right:0.5em;
          padding-bottom:1em;
          padding-top:0.5em;
          img {
            margin-bottom:1em;
          }
          text-align:center;
        }
      }
      &.figure {
        text-align:center;
      }
      table {
        caption {
          background:#444;
        }
        border:1px solid #444;
        th {
          background:#3a3a3a;
        }
      }
      &#week3-2 {
        text-align:center;
        .vega-container {
          width:100%;
          max-width:800px;
          margin:auto;
        }
      }
      &#week5, &#week7 {
        text-align:center;
        div.vega-containers {
          display:flex;
          justify-content: space-around;
          flex-wrap: wrap;
          div.vega-container {
            display:inline-block;
          }
        }
      }
      &#week8 {
        div.vega-container {
          text-align:center;
        }
      }
      blockquote {
        background:#222;
        padding:0.5em 1em;
        border:1px solid #888;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  body#portfolio {
    main > ol {
      li {
        &#week1,
        &#week2,
        &#week3-2,
        &#week4,
        &#week8,
        &#week9,
        &#week10,
        &#week11,
        &.half {
          width:100%;
          border-radius:0;
          margin-top:0;
          margin-bottom:0;
          padding-bottom:2em;
          border-bottom:1px solid #888;
        }
        &#week2,
        &#week4,
        &#week8,
        &#week10 {
          background:#222;
        }
        h2 {
          margin:0.5em 1em;
        }
      }
    }
  }
}