body#portfolio {
  padding:0;
  margin:0;
  main > ol {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    padding:0;
    margin:0;
    & > li {
      display:block;
      margin:0;
      width:100%;
      border-top:0;
      border-bottom:0;
      &:nth-child(even):not(.half) {
        background-color:#222;
      }
      &#week1,
      &#week2,
      &#week3-1,
      &#week3-2,
      &.half {
        background:#333;
        display:inline-block;
        width:43%;
        border-right:1px solid #000;
        margin-top:2em;
        margin-bottom:2em;
        border-radius:30px;
        & + .half {
          border-right-width:0;
        }
      }
      &.figures {
        text-align:center;
      }
      table {
        caption {
          background:#444;
        }
        border:1px solid #444;
        th {
          background:#3a3a3a;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  body#portfolio {
    main > ol {

    }
  }
}