
body#project {
    padding:0;
    margin:0;
    h1 {
        margin:2em;
    }
    ol.project {
        margin:0;
        padding:0;
    }
    ol.project > li {
        padding:1em 5em 2em;
        border-bottom:1px solid #555;
        margin:0;
        &.highlight {
            background-color:#212A65;
            table {
                border-color:#333;
                th, td {
                    border-color:#999;
                }
            }
            table tr td:first-child,
            table thead tr:first-child
            {
                background-color:#975138;
                color:#fff;
            }
        }
        div.colab {
            text-align:center;
            max-width:600px;
            margin-left:auto;
            margin-right:auto;
            padding:1em 2em;
        }
        div.story.colab {
            background:#555;
            border:1px dashed #aaa;
            margin-top:3em;
            margin-bottom:5em;
        }
    }
}
@media only screen and (max-width: 1200px) {
    body#project {
        h1 {
        }
        ol.project {
        }
        ol.project > li {
            padding-left:1em;
            padding-right:1em;
            &.table {
                padding-left:0.25em;
                padding-right:0.25em;
                padding-top:0.5em;
                padding-bottom:0.5em;
                border-top:3px solid #777;
                border-bottom:3px solid #777;
            }
            &.highlight {
                div.table.highlight {
                    padding-top:0.5em;
                    padding-bottom:0.5em;
                    background-color:#111A55;
                }
                table {
                    th, td {

                    }
                }
                table tr td:first-child,
                table thead tr:first-child
                {
                }
            }
        }
    }
}

